.host {
  margin-top: 10px;
}

.avatar img {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar p {
  width: 80px;
  text-align: center;
}

.wrapper {
  position: relative;
  margin: 2rem 6rem;
  padding: 20px;
}

.event-details,
.event-description,
.event-attendees {
  margin-bottom: 20px;
  padding-top: 0.5rem;
}

.event-details h2,
.event-description h2,
.event-attendees h2 {
  color: #333;
}

.event-attendees {
  display: flex;
  overflow-x: auto; /* Horizontal scroll for attendees */
}

.sticky-runner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100px;
  width: 100%;
  bottom: 0;
  position: sticky;
  padding: 1rem 6rem;
}
.title-info {
  position: relative;
}
.title-info > img {
  position: absolute;
  display: inline;
  top: 0;
  right: 0;
  max-width: 500px;
}

.sticky-btns {
  display: flex;
  gap: 8px;
}

.sticky-button {
  height: fit-content;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 8px;
  font-weight: bolder;
  color: white;
  background-color: var(--action-button-blue);
}

#address em {
  text-decoration: underline;
}

.back-btn {
  position: absolute;
  top: -20px;
}

#bookmark-btn {
  background-color: white;
}
.comments-section {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

#comment-form {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

#comment-form input[type=submit] {
  width: fit-content;
  align-self: flex-end;
}

.comment {
  position: relative;
}

.admin-icons {
  float:right;
}

#attend-btn {
  cursor: pointer;
}

@media (max-width: 1100px) {
  .title-info > img {
    width: 50%;
    min-width: 300px;
  }
}
@media (max-width: 1100px) {
  .title-info > img {
    position: relative;
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .sticky-info {
    font-size: 0.8rem;
  }
}
